@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.aboutus-all {
  box-sizing: border-box;
  background: url("../Images/image3.jpg") no-repeat center fixed;
  background-size: cover;
  height: 200vh;
  text-align: center;

  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;

}
.aboutus-links a {
  text-decoration: none;
  color: black;
}

.blur {
  backdrop-filter: blur(2px);
}

.aboutus-container {
  margin: auto;
  margin-top: 3rem;
  padding: 20px;
  border-radius: 10px;
  background: white;
  opacity: 90%;
  width: 80%;
 
}

.submit-btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn :hover {
  background-color: #45a049;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.column h3 {
  margin-bottom: 5%;
  margin-top: 5%;
}

.column ul {
  list-style: none;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.contactUs-form input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
textarea {
  width: 100%;
  height: 10rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactUs-form {
  margin-top: 20px;
}

.aboutus-back-btn {
  width: 35px;
  height: 35px;
  margin: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: fixed;
  left: 10%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .aboutus-all {
    height:200vh;
  }

  .column, .submit-btn {
    width: 100%;
    margin-top: 0;
  }

  .aboutus-back-btn {
    width: 30px;
    height: 30px;
    top: 7%;
  }
}

@media (max-width: 400px) {
  .aboutus-all {
    height:380vh;
  }

  .aboutus-back-btn {
    top: 5%;
  }
}

